<header class="w-screen bg-secondBg flex flex-row justify-between items-center h-24 pl-7 pr-7">
    <span>
        <label for="dificuldade">Dificuldade: </label>
        <select name="dificuldade" id="dificuldade" class="bg-transparent pl-1 pr-1">
            <option class="bg-firstBg" value="facil" default>Fácil</option>
            <option class="bg-firstBg" value="medio">Médio</option>
            <option class="bg-firstBg" value="dificil">Difícil</option>
        </select>
    </span>

    <img src="../../assets/logo.png" alt="logo" class="h-16 relative left-7 top-1s">


    <span class="flex flex-row h-9">
        <input type="text" placeholder="tema..."
            class="h-full pl-2 pr-2 bg-thirdBg placeholder-placeholderWhite overflow-hidden
            shadow-[-4px_4px_4px_rgba(0,0,0,0.25)]">
        <div class="h-9 w-9 flex items-center justify-center bg-emphasis p-1 shadow-[-4px_4px_4px_rgba(0,0,0,0.25)]">
            <img src="../../assets/Search.png" alt="lupa" class="">
        </div>
    </span>

</header>