<div class="w-[100vw] overflow-y-auto overflow-x-hidden mt-24 block pt-20 pb-20">

  <span id="roll" class="relative bottom-48"></span>

  <span *ngIf="load == 'in'" class="w-[100vw] h-[48px] flex items-center justify-center mb-12">
    <span class="loader"></span>
  </span>

  <span *ngIf="load == 'erro'" class="mb-12">
    <p class="text-center text-xl">Ocorreu um Erro<br>tente novamente ou de um jeito
      diferente.<br>&#58; &#40;</p>
  </span>

  <span *ngIf="load != 'erro' && load != 'in'">
    <span *ngFor="let quest of quests | keyvalue; let i = index;">
      <app-card-quest [quest]="quest.value" [index]="i + 1" (Respondido)="ngOnInit()"></app-card-quest>
    </span>
  </span>

  <span class="block fixed top-28 left-4 max-md:hidden" *ngIf="load != 'erro' && load != 'in'">
    <div *ngFor="let quest of quests | keyvalue; let i = index;" class="w-[40px] flex flex-col">
      <app-atalho [quest]="quest.value" [index]="i + 1"></app-atalho>
    </div>
  </span>

</div>