<span id="comp-{{index}}" class="mb-36 block max-md:hidden"></span>
<div class="bg-secondBg w-[60vw] max-md:w-[90vw] max-w-[60vw] max-md:max-w-[90vw]  m-auto mb-12 shadow-[0px_0px_10px_5px_rgba(0,0,0,0.25)]">
    <div class="bg-thirdBg min-h-40 shadow-[0px_4px_5px_rgba(0,0,0,0.25)]">
        <p class="pl-2 pt-1 font-bold">{{index}}</p>
        <p class="p-8 break-words text-[1.1em] font-semibold text-center">
            {{quest.questao}}
        </p>
    </div>

    <div class="p-7 flex flex-col justify-center gap-6">

        <ng-container *ngFor="let opcao of quest | keyvalue; let i = index;">
            <ng-container *ngIf="opcao.key !== 'questao' && opcao.key !== 'resposta' && opcao.key !== 'zDone' && opcao.key !== 'zRight' && opcao.key !== 'zAnswer'">

                <span (click)="answered(opcao.value, i)"
                    [ngClass]="{
                        'cursor-default': done,
                    }"
                    class="flex min-h-[60px] cursor-pointer shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
                    <div [ngClass]="{
                        'bg-emphasis': !done || done,
                        'bg-error': done && !right && answer === i,
                        'bg-right': done && opcao.value == quest.resposta,
                      }"
                        class="h-1/1 w-[60px] flex items-center justify-center relative shadow-[4px_4px_4px_rgba(0,0,0,0.25)] font-bold">
                        {{ !done ? letras[i+1] : (done && answer === i && right ? 'V' : (done && answer === i && !right ? 'X' : (opcao.value === quest.resposta? 'V' : letras[i+1]))) }}
                    </div>
                    <div
                        [ngClass]="{
                            'hover:bg-hovered': !done,
                            'hover:bg-thirdBg': done,
                        }"
                        class="bg-thirdBg w-full pl-4 flex items-center text-start text-[1.1em] shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
                        <p>{{ opcao.value }}</p>
                    </div>
                </span>
            </ng-container>
        </ng-container>

    </div>

</div>